@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE */
body {
    -ms-overflow-style: none;
}
